# Project-generated
docs/

# OS X artifacts
.DS_Store

# Vim artifacts
**.swp

# Node modules
node_modules

# Used to ensure certain empty directories
# are added to the git index
!.gitkeep

# Don't commit actual config details (that's
# what the sample config is for)
/config.json

# Log files
logs/*.log
